@import "tailwindcss";

/* Global theme */
html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  background: linear-gradient(135deg, #12001a, #1a0033, #050012);
  color: white;
}

.bg-grid {
  background-size: 50px 50px;
  background-image: linear-gradient(to right,
      rgba(255, 255, 255, 0.03) 1px,
      transparent 1px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.03) 1px, transparent 1px);
  mask-image: linear-gradient(to bottom, black 40%, transparent 100%);
}